<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div *ngIf="userProfile">
	<ion-item>
		<ion-label position="floating">Name</ion-label>
		<ion-input  type="text" [(ngModel)]="name"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Email</ion-label>
		<ion-input  type="email" [(ngModel)]="userProfile.email" disabled></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Phone Number</ion-label>
		<ion-input  type="tel" [(ngModel)]="phonenumber"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label>Date of birth</ion-label>
		<ion-datetime displayFormat="D MMM YYYY" [(ngModel)]="dob"></ion-datetime>
	</ion-item>
	<ion-button color="primary" block (click)="editProfilePressed()">Edit profile</ion-button>
</div>

</ion-content>
